@import url('https://fonts.googleapis.com/css?family=Dosis');

body{
    font-family: Dosis, sans-serif;
    background-color:lavender;
}
h1{
    text-align:center;
    font-size: 24pt;
    font-weight: bold;
}

h2{
    font-size:19pt;
    font-style:italic;
}

p{
    font-size: 14pt;
}

button{
    align-content: center;
    background-color: whitesmoke;
    padding: 12px 28px;
    border: blueviolet;
    font-size: 14px;
    color: black;
}

label {
    font-size: 16pt;
    font-weight: bold;

}

main {
    display: flex;
    justify-content: space-around;
}

#userForm {
    background-color: blueviolet;
    border: 2px solid rgb(173, 124, 219);
    padding: 1rem;
    color: whitesmoke;
}